body {
      background: url('peter.jpg') no-repeat;
      background-size: cover;
      font-family: Arial;
}

button {
        background-color: black;
        position: absolute;
        left: 100px;
        font-family: times;
}
