body {
      background: url('pillars.jpeg') no-repeat;
      background-size: cover;
      font-family: Arial;
      }
      p { 
      width: 400px;
      height: 100px;   
      background-color: lightblue;      
      text-align: center;
      }

      h1 {
      color: WhiteSmoke;
      }

      form {
      color: WhiteSmoke;
      }      
