body {
      background: url('pillars.jpeg') no-repeat;
      background-size: cover;
      font-family: Arial;
      }

      p { 
      position: absolute;
      left: 300px;      
      width: 400px;
      height: 100px;   
      background-color: lightblue;      
      text-align: center;
      margin: auto;
      }

      h1 {
      color: WhiteSmoke;
      }

      form {
      position: absolute;
      left: 200px;      
      color: WhiteSmoke;
      }      
